<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <form #roleForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="role.id">{{"EditRole" | localize}}: {{role.displayName}}</span>
                        <span *ngIf="!role.id">{{"CreateNewRole" | localize}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" [class.active]="showTab1">
                            <a class="nav-link" id="userInfo-tab" (click)="ChangeTab1()">{{l('RoleName')}}</a>
                        </li>
                        <li class="nav-item" [class.active]="showTab2">
                            <!-- <a class="nav-link" id="permission-tab" data-toggle="tab" href="#permission" role="tab"
                                aria-controls="permission" aria-selected="false">
                                {{l('Permissions')}}
                            </a> -->
                            <a class="nav-link" id="permission-tab" (click)="ChangeTab2()">
                                {{l('Permissions')}}
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">

                        <div class="tab-pane" style="display: block;" [hidden]="!showTab1">

                            <div class="form-group required">
                                <label>{{"RoleName" | localize}}</label>
                                <input id="RoleDisplayName" #roleNameInput="ngModel" class="form-control" type="text" name="DisplayName" [(ngModel)]="role.displayName" required maxlength="64">
                                <validation-messages [labelName]="l('RoleName')" [formCtrl]="roleNameInput">
                                </validation-messages>
                            </div>
                            <div class="m-checkbox-list">
                                <label class="m-checkbox">
                                    <input id="EditRole_IsDefault" type="checkbox" name="IsDefault"
                                        [(ngModel)]="role.isDefault">
                                    {{"Default" | localize}}
                                    <span></span>
                                </label>
                                <!-- <span class="help-block">{{"DefaultRole_Description" | localize}}</span> -->
                            </div>

                        </div>

                        <div class="tab-pane" style="display: block;" [hidden]="!showTab2">
                            <grid-permission #gridTree></grid-permission>

                        </div>

                    </div>

                    <div class="alert alert-warning" style="margin-top: 30px;">
                        <em>{{'Note_RefreshPageForPermissionChanges' | localize}}</em>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" (click)="close()"><i
                            class="fa fa-ban"></i>{{"Cancel" | localize}}</button>
                    <button (click)="save($event)" class="btn btn-primary" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{"Save" | localize}}</span></button>
                </div>
            </form>

        </div>
    </div>
</div>