<div [@routerTransition]>
    <div class="m-subheader">
        <div class="row align-items-center">
            <div class="mr-auto col-auto">
                <a [routerLink]="rootPage()"
                    class="m-subheader__title m-subheader__title--separator link-to-list-page home-page">
                    <span>{{l("HomePage")}}</span>
                </a>
                <h3 class="m-subheader__title m-subheader__title--separator">

                    <!-- Begin Title -->
                    <span>{{l("AssDelivery")}}</span>
                    <!-- End Title -->
                </h3>
            </div>

        </div>
    </div>

    <div id="content" class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <form #reportForm="ngForm" id="reportForm" class="horizontal-form filter-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-30">
                            <!-- Begin Filter -->
                            <!-- Đơn vị nhận -->
                            <div class="col-md-8 row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{l("BranchNameReceive")}}</label>
                                        <div class="group">
                                            <input class="form-control" type="text" #branchName="ngModel"
                                                name="branchName" [disabled]="true" [(ngModel)]="inputModel.branchName">
                                            <button class="btn btn-primary ng-star-inserted" type='button'
                                                (click)="branchModal.show()">{{l("...")}}</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Phòng ban -->
                                <div class="col-md-12" *ngIf="hidden">
                                    <div class="form-group">
                                        <label>{{l("PlanDepartment")}}</label>
                                        <div class="group">
                                            <input class="form-control" type="text" #departmentName="ngModel"
                                                name="departmentName" [disabled]="true"
                                                [(ngModel)]="inputModel.departmentName">
                                            <button class="btn btn-primary ng-star-inserted" type='button'
                                                (click)="depModal.show()">{{l("...")}}</button>
                                        </div>
                                    </div>
                                </div>

                                <!-- Ngày xuất -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{l("ExportDate")}}</label>
                                        <date-control #exportDate="ngModel" name="exportDate"
                                            [(ngModel)]="inputModel.exportDate" required autoFocus>
                                        </date-control>
                                        <div class="error-message" *ngIf="isShowError">
                                            <span *ngIf="isNull(inputModel.exportDate)">{{l('ExportDate')}}
                                                {{l("ValidationRequired")}}</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Trạng thái -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{l("AssStatus")}}</label>
                                        <all-code-select name="REPORT_STATUS" [(ngModel)]="inputModel.reportStatus"
                                            [emptyText]="l('SelectAll')" [cdName]="'REPORT_STATUS'"
                                            [cdType]="'RPT_STATUS'">
                                        </all-code-select>
                                    </div>
                                </div>




                                <div class="col-md-6" style="text-align: center;">
                                    <div class="form-group">
                                        <button class="btn btn-primary" type='submit'
                                            (click)="printPreview()">Report</button>
                                    </div>
                                </div>
                                <div class="col-md-6" style="text-align: center;">
                                    <div class="form-group">
                                        <button class="btn btn-primary" type='button'
                                            (click)="exportToExcel()">
                                            <!-- <i class="far fa-file-excel"></i> -->
                                            Excel
                                        </button>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <branch-modal (onSelect)="onSelectBranch($event)" [multiple]="false" #branchModal></branch-modal>
    <dep-modal (onSelect)="onSelectDep($event)" [multiple]="false" #depModal></dep-modal>
    <!-- <report-template #previewTemplateModal></report-template> -->

</div>