<div [@routerTransition]>
    <appToolbar #appToolbar></appToolbar>
    <div class="m-subheader">
        <div class="row align-items-center">
            <div class="mr-auto col-auto">
                <!-- Begin Title -->
                <h3 (click)="goBack()" class="m-subheader__title m-subheader__title--separator link-to-list-page">
                    <span>{{l("DeptGroup")}}</span>
                </h3>
                <span [ngSwitch]="editPageState" class="m-section__sub">
                    <span *ngSwitchCase="EditPageState.add">{{l("Create")}} {{l("DeptGroup") | lowercase}}</span>
                <span *ngSwitchCase="EditPageState.edit">{{l("Edit")}} {{l("DeptGroup") | lowercase}} :
                        {{inputModel.grouP_NAME}}</span>
                <span *ngSwitchCase="EditPageState.viewDetail">{{l("View")}} {{l("DeptGroup") | lowercase}} :
                        {{inputModel.grouP_NAME}}</span>
                </span>
                <!-- End Title -->
            </div>
            <div class="col text-right mt-3 mt-md-0">
            </div>
        </div>
    </div>

    <div id="content" class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <!-- Begin Form -->
                <form #editForm="ngForm" id="editForm" #editForm="ngForm" novalidate (ngSubmit)="saveInput()" autocomplete="off">
                    <div class="modal-body row">
                        <div class="col-md-12 align-right">
                            <div class="form-group">
                                <auth-status-input-page [authStatus]="inputModel.autH_STATUS"></auth-status-input-page>
                            </div>
                        </div>
                        <input hidden class="form-control" type="text" #grouP_ID="ngModel" name="grouP_ID" [(ngModel)]="inputModel.grouP_ID">

                        <div class="col-md-6">
                            <div class="form-group required">
                                <label>{{l("DeptGroupCode")}}</label>
                                <input maxlength="15" class="form-control" [disabled]="disableInput" type="text" required #grouP_CODE="ngModel" name="grouP_CODE" [(ngModel)]="inputModel.grouP_CODE" pattern="{{s('gAMSProCore.CodeNumberRegexValidation')}}">
                                <div class="error-message" *ngIf="grouP_CODE.invalid && isShowError">
                                    <span *ngIf="grouP_CODE?.errors.required">{{l('DeptGroupCode')}}
                                        {{l("ValidationRequired")}}</span>
                                    <span *ngIf="grouP_CODE?.errors.pattern">{{l('DeptGroupCode')}}
                                            {{l("Invalidation")}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label>{{l("DeptGroupName")}} </label>
                                <input required class="form-control" [disabled]="disableInput" type="text" #grouP_NAME="ngModel" name="grouP_NAME" [(ngModel)]="inputModel.grouP_NAME" maxlength="200">
                                <div class="error-message" *ngIf="grouP_NAME.invalid && isShowError">
                                    <span *ngIf="grouP_NAME?.errors.required">{{l('DeptGroupName')}}
                                        {{l("ValidationRequired")}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group outter-vertical-center">
                                <div class="form-group inner-vertical-center">
                                    <label class="m-checkbox" for="recorD_STATUS">{{l("IsActive")}}
                                        <input type="checkbox" id="recorD_STATUS" #recorD_STATUS name="recorD_STATUS" [disabled]="disableInput"
                                        [checked]="inputModel.recorD_STATUS == '1'"(change)="inputModel.recorD_STATUS = recorD_STATUS.checked? '1' : '0'">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{l("Note")}}</label>
                                <textarea class="form-control" [disabled]="disableInput" type="text" #notes="ngModel" name="notes" [(ngModel)]="inputModel.notes"></textarea>
                            </div>
                        </div>
                        <button hidden (click)="saveInput()"></button>
                    </div>
                </form>
                <!-- Begin Form -->
            </div>
        </div>
    </div>
</div>