<div [@routerTransition]>
    <appToolbar #appToolbar></appToolbar>
    <div class="m-subheader">
        <div class="row align-items-center">
            <div class="mr-auto col-auto">
                <!-- Begin Title -->
                <a [routerLink]="rootPage()"
                    class="m-subheader__title m-subheader__title--separator link-to-list-page home-page">
                    <span>{{l("HomePage")}}</span>
                </a>
                <h3 (click)="goBack()" class="m-subheader__title m-subheader__title--separator link-to-list-page">

                    <span>{{l("AssLiquidation_Title")}}</span>
                </h3>
                <span [ngSwitch]="editPageState" class="m-section__sub">
                    <span *ngSwitchCase="EditPageState.add">{{l("Toolbar_Create")}}</span>
                    <span *ngSwitchCase="EditPageState.edit">{{l("Toolbar_Update")}}</span>
                    <span *ngSwitchCase="EditPageState.viewDetail">{{l("Toolbar_ViewDetail")}}</span>
                </span>
                <!-- End Title -->
            </div>
            <div class="col text-right mt-3 mt-md-0">
            </div>
        </div>
    </div>

    <div id="content" class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <!-- Begin Form -->
                <form #editForm="ngForm" id="editForm" novalidate (ngSubmit)="saveInput()" autocomplete="off">
                    <div class="modal-body row">
                        <div class="col-md-12 align-right">
                            <div class="form-group">
                                <auth-status-input-page [authStatus]="inputModel.autH_STATUS"></auth-status-input-page>
                            </div>
                        </div>

                        <!--Ngày thanh lý-->
                        <div class="col-md-4 ">
                            <div class="form-group">
                                <label>{{l("DateLiq")}}</label>
                                <date-control [disabled]="true" [inpCss]="'form-control transparent'" type="text"
                                    #creatE_DT="ngModel" name="creatE_DT" [(ngModel)]="inputModel.creatE_DT">
                                </date-control>
                            </div>
                        </div>
                        <div class="col-md-8"></div>

                        <!--Đơn vị mua tài sản thanh lý-->
                        <div class="col-md-4">
                            <div class="form-group required">
                                <label>{{l("AssLiqPurchasingUnit")}}</label>
                                <input #buY_COMPANY_ID="ngModel" name="buY_COMPANY_ID" class="form-control transparent "
                                    [(ngModel)]="inputModel.buY_COMPANY_ID" [disabled]="disableInput" required />
                                <div class="error-message" *ngIf="buY_COMPANY_ID.invalid && isShowError">
                                    <span *ngIf="buY_COMPANY_ID?.errors?.required">{{l('AssLiqPurchasingUnit')}}
                                        {{l("ValidationRequired")}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8"></div>

                        <!--Số tiền thanh lý-->
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label>{{l("AmountLiq")}}</label>
                                <money-input #buY_PRICE="ngModel" name="buY_PRICE" [inputCss]="'form-control decimal'"
                                    [(ngModel)]="inputModel.buY_PRICE" [disabled]="true" required></money-input>
                            </div>
                        </div>

                        <!-- File đính kèm -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{l("FileAttachment")}}</label>
                                <file-picker [disabled]="disableInput" type="text" [folderUpload]="'AssLiquidation'"
                                    [multiFile]="false" [inpCss]="'form-control'"
                                    [(ngModel)]="inputModel['filE_ATTACHMENT']" name="filE_ATTACHMENT"></file-picker>
                            </div>
                        </div>
                        <div class="col-md-4"></div>

                        <!-- Ghi chú -->
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>{{l("Note")}}</label>
                                <textarea class="form-control" type="text" #notes="ngModel" name="notes"
                                    [disabled]="disableInput" [(ngModel)]="inputModel.notes"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4"></div>

                        <!--Diễn giải hoạch toán-->
                        <div class="col-md-8">
                            <div class="form-group required">
                                <label>{{l("CoreNote")}}</label>
                                <input class="form-control " name="corE_NOTE" #corE_NOTE="ngModel" type="text" required
                                    [(ngModel)]="inputModel.corE_NOTE" [disabled]="disableInput"
                                    pattern="{{s('gAMSProCore.CoreNoteRegexValidation')}}" required type="text" />
                                <div class="error-message" *ngIf="corE_NOTE.invalid && isShowError">
                                    <span *ngIf="corE_NOTE?.errors?.required">{{l('CoreNote')}}
                                        {{l("ValidationRequired")}}</span>
                                    <span *ngIf="corE_NOTE?.errors.pattern">{{l('CoreNote')}}
                                        {{l("Invalidation")}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-12">({{l("CoreNoteValidDescription")}})</div>

                        <div class="col-md-12">
                            <button class="btn btn-primary top-space " [hidden]="!isShowPrintButton" type="button"
                                (click)="printCoreNoteInvoice()"
                                id="btn-print-report">{{l("PrintCoreNoteInvoice")}}</button>
                        </div>

                        <!--BEGIN DETAIL 1-->
                        <div class="col-md-12">
                            <div class="editable-title-group">
                                <!-- Danh mục các tài sản cần thanh lý -->
                                <h5 class="popup-title col-md-12">{{l("LiquidateSubTitle")}}</h5>
                                <div class="action-button">
                                    <button type="button" [disabled]="disableInput" class="btn btn-primary"
                                        (click)="assetModal.show()"><i class="pi pi-plus"></i>{{l('Add')}}</button>
                                    <button type="button" [disabled]="disableInput" class="btn btn-danger"
                                        (click)="removeAllCheckedItem()"><i
                                            class="pi pi-times"></i>{{l("Delete")}}</button>
                                </div>
                            </div>

                            <div class="primeng-datatable-container">
                                <form #ngFormAssLiq="ngForm">
                                    <editable-table [editTableName]="'1'"
                                        [requiredFields]="['buY_PRICE_LIQ','liQ_PRICE']" #editTableView
                                        class="custom-table ui-table">
                                        <thead>
                                            <tr>
                                                <!-- Checkbox -->
                                                <th>
                                                    <span style="width: 40px">
                                                        <checkbox-control [disabled]="disableInput"
                                                            (onchange)="editTable.checkAll($event.target.checked)"
                                                            [checked]="editTable.isCheckAll"></checkbox-control>
                                                    </span>
                                                </th>
                                                <!-- Begin Table Column -->
                                                <!-- STT -->
                                                <th><span style="width: 40px">{{l("No")}}</span></th>
                                                <!--Mã tài sản-->
                                                <th sortField="asseT_CODE">
                                                    <span style="width: 150px">{{l("AssetCode")}}</span>
                                                </th>
                                                <!-- Tên tài sản -->
                                                <th sortField="asseT_NAME">
                                                    <span style="width: 250px">{{l("AssetName")}}</span>
                                                </th>
                                                <!-- Nguyên giá -->
                                                <th sortField="buY_PRICE">
                                                    <span style="width: 150px">{{l("OriginalPrice")}}</span>
                                                </th>
                                                <!-- Giá trị còn lại -->
                                                <th sortField="remaiN_AMORTIZED_AMT">
                                                    <span style="width: 150px">{{l("RemainValue")}}</span>
                                                </th>
                                                <!-- Nguyên giá thanh lý -->
                                                <th sortField="buY_PRICE_LIQ">
                                                    <span style="width: 180px">{{l("OriginalLiqPrice")}}</span>
                                                </th>
                                                <!-- GTCL Phần thanh lý -->
                                                <th sortField="remaiN_VALUE">
                                                    <span style="width: 180px">{{l("LiqRemainValue")}}</span>
                                                </th>
                                                <!-- Số tiền thanh lý -->
                                                <th sortField="liQ_PRICE">
                                                    <span style="width: 150px">{{l("AmountLiq")}}</span>
                                                </th>
                                                <!-- Hiện trạng tài sản -->
                                                <th sortField="asS_STATUS_NAME">
                                                    <span style="width: 150px">{{l("AssetCondition")}}</span>
                                                </th>
                                                <!-- Hình thức thanh lý -->
                                                <th sortField="liQ_TYPE">
                                                    <span style="width: 150px">{{l("LiquidateMode")}}</span>
                                                </th>

                                                <!-- End Table Column -->

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of editTable.dataInPage; let in = index"
                                                class="selectable {{item['editableIsSelected']? 'selected' : ''}}"
                                                [hidden]="item['page'] != editTable.currentPage"
                                                (click)="editTable.selectRow($event,item); updateView();">
                                                <!-- Checkbox -->
                                                <td>
                                                    <span class="mo-header" style="width: 40px"></span>
                                                    <checkbox-control [disabled]="disableInput"
                                                        name="{{editTable.name('isChecked',in)}}"
                                                        [(ngModel)]="editTable.dataInPage[in]['isChecked']">
                                                    </checkbox-control>
                                                </td>
                                                <!-- STT -->
                                                <td class="center"><span class="mo-header" style="width: 40px"></span>
                                                    <input class="label" [(ngModel)]="editTable.dataInPage[in]['no']"
                                                        name="{{editTable.name('no',in)}}"></td>

                                                <!--Mã tài sản-->
                                                <td>
                                                    <span class="mo-header"></span>
                                                    <input readonly class="label"
                                                        [(ngModel)]="editTable.dataInPage[in].asseT_CODE"
                                                        name="{{editTable.name('asseT_CODE',in)}}" />
                                                </td>

                                                <!--Tên tài sản-->
                                                <td>
                                                    <span class="mo-header"></span>
                                                    <input readonly class="label"
                                                        [(ngModel)]="editTable.dataInPage[in].asseT_NAME"
                                                        name="{{editTable.name('asseT_NAME',in)}}" />
                                                </td>


                                                <!--Nguyên giá -->
                                                <td>
                                                    <span class="mo-header"></span>
                                                    <money-input readonly [inputCss]="'label'"
                                                        name="{{editTable.name('buY_PRICE',in)}}"
                                                        [(ngModel)]="editTable.dataInPage[in].buY_PRICE">
                                                    </money-input>
                                                </td>

                                                <!--Gía trị còn lại -->
                                                <td>
                                                    <span class="mo-header"></span>
                                                    <money-input [inputCss]="'decimal label'"
                                                        name="{{editTable.name('remaiN_AMORTIZED_AMT',in)}}"
                                                        [(ngModel)]="editTable.dataInPage[in].remaiN_AMORTIZED_AMT"
                                                        readonly>
                                                    </money-input>
                                                </td>

                                                <!--Nguyên giá thanh lý-->
                                                <!-- (focusout)="onBuyPriceLiqChange(item,'buY_PRICE_LIQ-d1-'+ in,'remaiN_VALUE-d1-'+in)" -->
                                                <td>
                                                    <span class="mo-header"></span>
                                                    <money-input [inputCss]="'decimal form-control transparent'"
                                                        (focusout)="onBuyPriceLiqChange(item,editTable.name('buY_PRICE_LIQ',in),editTable.name('remaiN_VALUE',in))"
                                                        name="{{editTable.name('buY_PRICE_LIQ',in)}}"
                                                        [(ngModel)]="editTable.dataInPage[in].buY_PRICE_LIQ"
                                                        [disabled]="disableInput">
                                                    </money-input>
                                                </td>

                                                <!--GTCL phần thanh lý-->
                                                <td>
                                                    <span class="mo-header"></span>
                                                    <money-input name="{{editTable.name('remaiN_VALUE',in)}}"
                                                        [inputCss]="'form-control decimal'" [disabled]="true"
                                                        [(ngModel)]="editTable.dataInPage[in].remaiN_VALUE" readonly>
                                                    </money-input>
                                                </td>

                                                <!--Số tiền thanh lý-->
                                                <td>
                                                    <span class="mo-header"></span>
                                                    <money-input name="{{editTable.name('liQ_PRICE',in)}}"
                                                        (focusout)="onSumMultiValue(inputModel.assLiquidDetails)"
                                                        [inputCss]="'form-control transparent decimal'"
                                                        [(ngModel)]="editTable.dataInPage[in].liQ_PRICE"
                                                        [disabled]="disableInput">
                                                    </money-input>
                                                </td>

                                                <!--Hiện trạng tài sản-->
                                                <td>
                                                    <span class="mo-header"></span>
                                                    <input name="{{editTable.name('asS_STATUS_NAME',in)}}"
                                                        class="form-control transparent " type="text"
                                                        [(ngModel)]="editTable.dataInPage[in].asS_STATUS_NAME"
                                                        readonly />
                                                </td>

                                                <!--Hình thức thanh lý-->
                                                <td>
                                                    <span class="mo-header"></span>
                                                    <checkbox-control name="{{editTable.name('liQ_TYPE',in)}}"
                                                        (onchange)="onLiqTypeChange(editTable.dataInPage[in])"
                                                        [(ngModel)]="editTable.dataInPage[in].liQ_TYPE"
                                                        [disabled]="disableInput" [label]='l("Totally")'>
                                                    </checkbox-control>
                                                </td>


                                            </tr>
                                        </tbody>
                                    </editable-table>
                                </form>
                            </div>
                        </div>
                        <!--END DETAIL 1-->

                        <!-- Begin Print button -->
                        <div class="col-md-12 action-button">
                            <!-- Import tài sản thanh lý -->
                            <div class="col-md-12">
                                <div style="text-align: right">
                                    <label class='btn btn-primary' for="importExcel"
                                        style="margin-top: 25px; color:white!important">
                                        {{this.l('ImportAssLiquidation')}}
                                        <import-excel [inputCss]="'btn btn-primary'" [id]="'importExcel'"
                                            [hidden]="true" [startPosition]="importStartPosition"
                                            [disable]="disableInput" (toArrayObject)='onImportAssLiquidation($event)'>
                                        </import-excel>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- End Print button -->

                        <div class="group col-md-12">
                            <!-- Tổng nguyên giá -->
                            <h5 class="col-md-4">{{l("TotalOriginalPrice")}}:
                                <span>{{totalBuyPrice | moneyFormatPipe}}</span></h5>

                            <!--Tổng giá trị còn lại-->

                            <h5 class="col-md-4">{{l("TotalRemainValue")}}:
                                <span>{{totalRemainAmortAmt | moneyFormatPipe}}</span></h5>

                            <!-- Tổng giá trị thanh lý -->

                            <h5 class="col-md-4">{{l("TotalLiqPrice")}}:
                                <span>{{inputModel.buY_PRICE | moneyFormatPipe}}</span></h5>

                        </div>




                        <button hidden (click)="saveInput()">{{l("Print")}}</button>
                    </div>
                </form>
                <!-- End Form -->
            </div>
        </div>
    </div>
</div>

<asset-modal #assetModal [multiple]="true" (onSelect)="onSelectAssets($event)"
    [hideFields]="'PlanDepartment,level,PlanMonthFilter,PlanLiqFilter,dep_ID,brancH_ID'"
    [hideColumns]="'BRANCH_NAME,DEP_NAME,USE_DATE'"></asset-modal>
<report-template #reportTemplate></report-template>