<div [@routerTransition]>
    <appToolbar #appToolbar></appToolbar>
    <div id="page-list-area">
        <div class="m-subheader">
            <div class="row align-items-center">
                <div class="mr-auto col-auto">
                    <a [routerLink]="rootPage()" class="m-subheader__title m-subheader__title--separator link-to-list-page home-page">
                        <span>{{l("HomePage")}}</span>
                    </a>
                    <h3 class="m-subheader__title m-subheader__title--separator">

                        <!-- Begin Title -->
                        <span>{{l("DistributionExecuteList")}}</span>
                        <!-- End Title -->
                    </h3>
                </div>
                <div class="col text-right mt-3 mt-md-0">
                    <div class="btn-group dropdown mr-2">
                        <button class=" btn btn-outline-success" *ngIf="appToolbar.buttonSearchEnable"
                            (click)="exportExcel()">
                            <i class="far fa-file-excel"></i>
                            {{l("ExcelOperations")}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="content" class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    <form class="horizontal-form filter-form" autocomplete="off">
                        <div class="m-form m-form--label-align-right">
                            <div class="row align-items-center m--margin-bottom-30">
                                <!-- Begin Filter -->

                                <!-- Đơn vị -->
                                <div class='col-md-6'>
                                    <div class="form-group">
                                        <label>{{l("BranchName")}}</label>
                                        <div class="user-group">
                                            <input [readOnly]=true class="form-control" required type="text" #brancH_NAME="ngModel" name="brancH_NAME" [(ngModel)]="filterInput.brancH_NAME">
                                            <button class="btn btn-primary ng-star-inserted" (click)="showBranchModal()" type='button'>{{l("...")}}</button>
                                        </div>
                                    </div>
                                </div>

                                <!--Tình trạng duyệt-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{l("AuthStatus")}}</label>
                                        <all-code-select name="autH_STATUS" [(ngModel)]="filterInput.autH_STATUS" [emptyText]="l('SelectAll')" [cdName]="'AUTH_STATUS'">
                                        </all-code-select>
                                    </div>
                                </div>
                                <!-- End Filter -->
                                <!-- <div style="display:none;" class="col-md-12">
                                    <div class="form-group">
                                        <button *ngIf="appToolbar.buttonSearchEnable" class="btn btn-primary btn-search" (click)="onSearch()">{{l('Search')}}</button>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </form>
                    <div class="row align-items-center">
                        <div class="primeng-datatable-container {{dataTable.isLoading}}">
                            <div class="spinner-border m-5" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <core-table #coreTable class="custom-table ui-table" (reloadPage)="search()">
                                <thead>
                                    <tr>
                                        <!-- Begin Table Column -->
                                        <th class="center">
                                            <span style="width: 40px">{{l("No")}}</span>
                                        </th>
                                        <!-- Mã Code-->
                                        <th style="width: 10%" class='center' sortField="DEL_DISTR_CODE">
                                            <span style="width: 130px">{{l("DelDistrCode")}}</span>
                                        </th>
                                        <!-- Mã đơn vị-->
                                        <th style="width: 10%" class='center' sortField="BRANCH_ID">
                                            <span style="width: 100px">{{l("BranchCode")}}</span>
                                        </th>
                                        <!-- Tên đơn vị -->
                                        <th style="width: 45%" class='center' sortField="BRANCH_NAME">
                                            <span style="width: 250px">{{l("BranchName")}}</span>
                                        </th>
                                        <!-- Ngày yêu cầu -->
                                        <th style="width: 10%" class='center' sortField="REQUEST_DT">
                                            <span style="width: 130px">{{l("DateRequest")}}</span>
                                        </th>
                                        <!-- Ngày điều chỉnh -->
                                        <th style="width: 10%" class='center' sortField="CREATE_DT">
                                            <span style="width: 130px">{{l("AdjustDate")}}</span>
                                        </th>
                                        <!-- Trạng thái duyệt -->
                                        <th style="width: 10%" class='center' sortField="AUTH_STATUS_NAME">
                                            <span style="width: 150px">{{l("AuthStatus")}}</span>
                                        </th>
                                        <!-- End Table Column -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let record of dataTable.records" class="selectable" (dblclick)="onDblclick(record)" (click)="selectRow($event,record)">
                                        <!-- Begin Table Value -->
                                        <td class="center"><span class="mo-header"></span>{{(filterInputSearch.skipCount + dataTable.records.indexOf(record)) + 1}}
                                        </td>
                                        <!-- Mã Code -->
                                        <td><span class="mo-header"></span>{{record.exeC_DISTR_ID}}</td>
                                        <!-- Mã đơn vị -->
                                        <td><span class="mo-header"></span>{{record.brancH_ID}}</td>
                                        <!-- Tên đơn vị -->
                                        <td><span class="mo-header"></span>{{record.brancH_NAME}}</td>
                                        <!-- Ngày yêu cầu -->
                                        <td><span class="mo-header"></span>{{record.requesT_DT | dateFormatPipe}}</td>
                                        <!-- Ngày điều chỉnh -->
                                        <td><span class="mo-header"></span>{{record.creatE_DT | dateFormatPipe }}</td>
                                        <!-- Trạng thái duyệt -->
                                        <td><span class="mo-header"></span>{{record.autH_STATUS_NAME }}</td>
                                        <!-- End Table Value -->
                                    </tr>
                                </tbody>
                            </core-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <branch-modal (onSelect)="onSingleSelectBranch($event)" [multiple]="false" #branchModal>
    </branch-modal>