<div [@routerTransition] id="TenantDashboard">
    <div class="m-subheader">
        <div class="row align-items-center">
            <div class="mr-auto col-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{"Dashboard" | localize}}</span>
                </h3>
                <span class="m-section__sub">
                    {{"DashboardHeaderInfo" | localize}}
                </span>
            </div>
            

        </div>
    </div>

</div>