<div [@routerTransition]>
    <appToolbar #appToolbar></appToolbar>
    <div class="m-subheader">
        <div class="row align-items-center">
            <div class="mr-auto col-auto">
                <!-- Begin Title -->
                <h3 (click)="goBack()" class="m-subheader__title m-subheader__title--separator link-to-list-page">
                    <span>{{l("Model")}}</span>
                </h3>
                <span [ngSwitch]="editPageState" class="m-section__sub">
                    <span *ngSwitchCase="EditPageState.add">{{l("Create")}} {{l("Model") | lowercase}}</span>
                <span *ngSwitchCase="EditPageState.edit">{{l("Edit")}} {{l("Model") | lowercase}} :
                        {{inputModel.mO_NAME}}</span>
                <span *ngSwitchCase="EditPageState.viewDetail">{{l("View")}} {{l("Model") | lowercase}} :
                        {{inputModel.mO_NAME}}</span>
                </span>
                <!-- End Title -->
            </div>
            <div class="col text-right mt-3 mt-md-0">
            </div>
        </div>
    </div>

    <div id="content" class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <!-- Begin Form -->
                <form #editForm="ngForm" id="editForm" #editForm="ngForm" novalidate (ngSubmit)="saveInput()" autocomplete="off">
                    <div class="modal-body row">
                        <div class="col-md-12 align-right">
                            <div class="form-group">
                                <auth-status-input-page [authStatus]="inputModel.autH_STATUS"></auth-status-input-page>
                            </div>
                        </div>
                        <input hidden class="form-control" type="text" #mO_ID="ngModel" name="mO_ID" [(ngModel)]="inputModel.mO_ID">

                        <div class="col-md-6">
                            <div class="form-group required">
                                <label>{{l("ModelCode")}}</label>
                                <input maxlength="15" required class="form-control" [disabled]="disableInput" type="text" #mO_CODE="ngModel" name="mO_CODE" pattern="{{s('gAMSProCore.CodeNumberRegexValidation')}}" [(ngModel)]="inputModel.mO_CODE">
                                <div class="error-message" *ngIf="mO_CODE.invalid && isShowError">
                                    <span *ngIf="mO_CODE?.errors.required">{{l('ModelCode')}}
                                        {{l("ValidationRequired")}}</span>
                                    <span *ngIf="mO_CODE?.errors.pattern">{{l('ModelCode')}}
                                            {{l("Invalidation")}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label>{{l("ModelName")}} </label>
                                <input required class="form-control" [disabled]="disableInput" type="text" #mO_NAME="ngModel" name="mO_NAME" [(ngModel)]="inputModel.mO_NAME" maxlength="200">
                                <div class="error-message" *ngIf="mO_NAME.invalid && isShowError">
                                    <span *ngIf="mO_NAME?.errors.required">{{l('ModelName')}}
                                        {{l("ValidationRequired")}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label>{{l("CarTypeName")}} </label>
                                <select2-custom [disabled]="disableInput" required name="caR_TYPE_ID" #caR_TYPE_ID="ngModel" [(ngModel)]="inputModel.caR_TYPE_ID" [list]="carTypes" [valueMember]="'caR_TYPE_ID'" [displayMember]="'caR_TYPE_NAME'">
                                </select2-custom>
                                <div class="error-message" *ngIf="caR_TYPE_ID.invalid && isShowError">
                                    <span *ngIf="caR_TYPE_ID?.errors.required">{{l('CarTypeName')}}
                                        {{l("ValidationRequired")}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label>{{l("ManufacturerName")}} </label>
                                <all-code-select [disabled]="disableInput" required name="manufacturer" #manufacturer="ngModel" [(ngModel)]="inputModel.manufacturer" [emptyText]="" [cdName]="'MANUFACTURER'" [cdType]="'CAR'">
                                </all-code-select>
                                <div class="error-message" *ngIf="manufacturer.invalid && isShowError">
                                    <span *ngIf="manufacturer?.errors.required">{{l('CarTypeName')}}
                                        {{l("ValidationRequired")}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{l("PowerRate")}}</label>
                                <div class="row outter-vertical-center">
                                    <div class="col-md-10">
                                        <input class="form-control" min="0" [disabled]="disableInput" type="number" #poweR_RATE="ngModel" name="poweR_RATE" pattern="{{s('gAMSProCore.TaxNoRegexValidation')}}" [(ngModel)]="inputModel.poweR_RATE">
                                        <div class="error-message" *ngIf="poweR_RATE.invalid && isShowError">
                                            <span *ngIf="poweR_RATE?.errors.pattern">{{l('PowerRate')}}
                                                {{l("Invalidation")}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 inner-vertical-center">
                                        <span>{{l('PowerRateUnit')}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group outter-vertical-center">
                                <div class="form-group inner-vertical-center">
                                    <label class="m-checkbox" for="recorD_STATUS">{{l("IsActive")}}
                                        <input type="checkbox" id="recorD_STATUS" #recorD_STATUS name="recorD_STATUS" [disabled]="disableInput"
                                            [checked]="inputModel.recorD_STATUS == '1'"
                                            (change)="inputModel.recorD_STATUS = recorD_STATUS.checked? '1' : '0'">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{l("Note")}}</label>
                                <textarea class="form-control" [disabled]="disableInput" type="text" #notes="ngModel" name="notes" [(ngModel)]="inputModel.notes"></textarea>
                            </div>
                        </div>
                        <button hidden (click)="saveInput()"></button>
                    </div>
                </form>
                <!-- Begin Form -->
            </div>
        </div>
    </div>
</div>