<div [@routerTransition]>
    <appToolbar #appToolbar></appToolbar>
    <div id="page-list-area">
        <div class="m-subheader">
            <div class="row align-items-center">
                <div class="mr-auto col-auto">
                    <a [routerLink]="rootPage()" class="m-subheader__title m-subheader__title--separator link-to-list-page home-page">
                        <span>{{l("HomePage")}}</span>
                    </a>
                    <h3 class="m-subheader__title m-subheader__title--separator">

                        <!-- Begin Title -->
                        <span>{{l("AssUseMultiList")}}</span>
                        <!-- End Title -->
                    </h3>
                </div>
                <div class="col text-right mt-3 mt-md-0">
                    <div class="btn-group dropdown mr-2">
                        <button class=" btn btn-outline-success" *ngIf="appToolbar.buttonSearchEnable" (click)="exportExcel()">
                            <i class="far fa-file-excel"></i>
                            {{l("ExcelOperations")}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="content" class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    <form class="horizontal-form filter-form" autocomplete="off">
                        <div class="m-form m-form--label-align-right">
                            <div class="row align-items-center m--margin-bottom-30">
                                <!-- Begin Filter -->
                                <!-- Trạng thái duyệt -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{l("ApproveStatus")}}</label>
                                        <all-code-select name="autH_STATUS" [(ngModel)]="filterInput.autH_STATUS" [emptyText]="l('SelectAll')" [cdName]="'AUTH_STATUS'" [cdType]="'AUTH_STATUS'"></all-code-select>
                                    </div>
                                </div>
                                <!-- Ngày xuất sử dụng -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{l("UseExportDate")}}</label>
                                        <date-control [inpCss]="'form-control'" type="text" #usE_EXPORT_DT="ngModel" name="usE_EXPORT_DT" [(ngModel)]="filterInput.usE_EXPORT_DT">
                                        </date-control>
                                    </div>
                                </div>
                                <!-- End Filter -->
                                <div style="display:none;" class="col-md-12">
                                    <div class="form-group">
                                        <button *ngIf="appToolbar.buttonSearchEnable" class="btn btn-primary btn-search" (click)="onSearch()">{{l('Search')}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row align-items-center">
                        <div class="primeng-datatable-container {{dataTable.isLoading}}">
                            <div class="spinner-border m-5" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <core-table #coreTable class="custom-table ui-table" (reloadPage)="search()">
                                <thead>
                                    <tr>
                                        <!-- Begin Table Column -->
                                        <th class="center">
                                            <span style="width: 40px">{{l("No")}}</span>
                                        </th>
                                        <!--Ngày xuất sử dụng-->
                                        <th sortField="USE_EXPORT_DT">
                                            <span style="width: 150px">{{l("UseExportDate")}}</span>
                                        </th>
                                        <!--Người thực hiện-->
                                        <th sortField="USER_EXPORT">
                                            <span style="width: 150px">{{l("UserPerform")}}</span>
                                        </th>
                                        <!--Ghi chú-->
                                        <th sortField="NOTES">
                                            <span style="width: 280px">{{l("Notes")}}</span>
                                        </th>
                                        <!--Trạng thái duyệt-->
                                        <th sortField="AUTH_STATUS_NAME">
                                            <span style="width: 150px">{{l("ApproveStatus")}}</span>
                                        </th>
                                        <!--Người tạo-->
                                        <th sortField="MAKER_ID">
                                            <span style="width: 100px">{{l("PersonCreate")}}</span>
                                        </th>
                                        <!--Ngày duyệt-->
                                        <th sortField="APPROVE_DT">
                                            <span style="width: 100px">{{l("ApprovalDate")}}</span>
                                        </th>
                                        <!--Người duyệt-->
                                        <th sortField="CHECKER_ID">
                                            <span style="width: 150px">{{l("PersonApprove")}}</span>
                                        </th>
                                        <!-- End Table Column -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let record of dataTable.records" class="selectable" (dblclick)="onDblclick(record)" (click)="selectRow($event,record)">
                                        <!-- Begin Table Value -->
                                        <td class="center"><span class="mo-header"></span>{{(filterInputSearch.skipCount + dataTable.records.indexOf(record)) + 1}}
                                        </td>
                                        <!--Ngày xuất sử dụng-->
                                        <td><span class="mo-header"></span>{{record.usE_EXPORT_DT | dateFormatPipe}}
                                        </td>
                                        <!-- Người thực hiện -->
                                        <td><span class="mo-header"></span>{{record.useR_EXPORT}}</td>
                                        <!--Ghi chú-->
                                        <td><span class="mo-header"></span>{{record.notes}}</td>
                                        <!--Trạng thái duyệt-->
                                        <td><span class="mo-header"></span>{{record.autH_STATUS_NAME}}</td>
                                        <!-- Người  tạo -->
                                        <td><span class="mo-header"></span>{{record.makeR_ID }}</td>
                                        <!-- Ngày duyệt -->
                                        <td><span class="mo-header"></span>{{record.approvE_DT | dateFormatPipe}}</td>
                                        <!-- Người duyệt -->
                                        <td><span class="mo-header"></span>{{record.checkeR_ID}}</td>
                                        <!-- End Table Value -->
                                    </tr>
                                </tbody>
                            </core-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>