<div [@routerTransition]>
    <appToolbar #appToolbar></appToolbar>
    <div class="m-subheader">
        <div class="row align-items-center">
            <div class="mr-auto col-auto">
                <!-- Begin Title -->
                <a [routerLink]="rootPage()"
                    class="m-subheader__title m-subheader__title--separator link-to-list-page home-page">
                    <span>{{l("HomePage")}}</span>
                </a>
                <h3 (click)="goBack()" class="m-subheader__title m-subheader__title--separator link-to-list-page">

                    <span>{{l("AssUseMultiList")}}</span>
                </h3>
                <span [ngSwitch]="editPageState" class="m-section__sub">
                    <span *ngSwitchCase="EditPageState.add">{{l("Toolbar_Create")}}</span>
                    <span *ngSwitchCase="EditPageState.edit">{{l("Toolbar_Update")}}</span>
                    <span *ngSwitchCase="EditPageState.viewDetail">{{l("Toolbar_ViewDetail")}}</span>
                </span>
                <!-- End Title -->
            </div>
            <div class="col text-right mt-3 mt-md-0">
            </div>
        </div>
    </div>

    <div id="content" class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <!-- Begin Form -->
                <form #editForm="ngForm" id="editForm" #editForm="ngForm" novalidate (ngSubmit)="saveInput()"
                    autocomplete="off">
                    <div class="modal-body row">
                        <div class="col-md-12 align-right">
                            <div class="form-group">
                                <auth-status-input-page [authStatus]="inputModel.autH_STATUS"></auth-status-input-page>
                            </div>
                        </div>
                        <!--BEGIN INFORMATION-->

                        <!-- Người  thực hiện -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{l("UserPerform")}}</label>
                                <input [(ngModel)]="inputModel.useR_EXPORT" name="useR_EXPORT" #useR_EXPORT="ngModel"
                                    readonly class="form-control m-input" type="text">
                            </div>
                        </div>

                        <!-- Ngày xuất sử dụng -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{l("UseExportDate")}}</label>
                                <date-control readonly [inpCss]="'form-control'" type="text" #usE_EXPORT_DT="ngModel"
                                    [disabled]="disableInput" name="usE_EXPORT_DT"
                                    [(ngModel)]="inputModel.usE_EXPORT_DT">
                                </date-control>
                            </div>
                        </div>
                        <div class="col-md-4"></div>

                        <!--Ghi chú-->
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>{{l("Notes")}}</label>
                                <textarea class="form-control" name="notes" #notes="ngModel" type="text"
                                    [disabled]="disableInput" [(ngModel)]="inputModel.notes">
                                    </textarea>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <!--END INFORMATION-->

                        <!--BEGIN DETAIL 1-->
                        <div class="col-md-12">
                            <div class="editable-title-group">
                                <h5 class="popup-title col-md-12">{{l("List")}} {{l("Asset")}}</h5>
                                <div class="action-button">
                                    <button type="button" [disabled]="disableInput" class="btn btn-primary"
                                        (click)="showAssetModal()"><i class="pi pi-plus"></i>{{l('Add')}}</button>
                                    <button type="button" [disabled]="disableInput" class="btn btn-danger"
                                        (click)="editTableAssUseMultiDt.removeAllCheckedItem()"><i
                                            class="pi pi-times"></i>{{l("Delete")}}</button>
                                </div>
                            </div>

                            <div class="primeng-datatable-container">
                                <form #ngFormAssUse="ngForm">
                                    <editable-table [editTableName]="'1'" [requiredFields]="['brancH_NAME','diV_NAME']"
                                        #editTableAssUseMultiDtView class="custom-table ui-table">
                                        <thead>
                                            <tr>
                                                <!-- Checkbox -->
                                                <th>
                                                    <span style="width: 40px">
                                                        <checkbox-control [disabled]="disableInput"
                                                            (onchange)="editTableAssUseMultiDt.checkAll($event.target.checked)"
                                                            [checked]="editTableAssUseMultiDt.isCheckAll">
                                                        </checkbox-control>
                                                    </span>
                                                </th>
                                                <!-- Begin Table Column -->
                                                <!-- STT -->
                                                <th><span style="width: 40px">{{l("No")}}</span></th>
                                                <!--Mã tài sản-->
                                                <th sortField="asseT_CODE">
                                                    <span style="width: 150px">{{l("AssetCode")}}</span>
                                                </th>
                                                <!-- Tên tài sản -->
                                                <th sortField="asseT_NAME">
                                                    <span style="width: 250px">{{l("AssetName")}}</span>
                                                </th>
                                                <!-- Số Serial -->
                                                <th sortField="asseT_SERIAL_NO">
                                                    <span style="width: 150px">{{l("SerialNo")}}</span>
                                                </th>
                                                <!-- Nguyên giá -->
                                                <th sortField="buY_PRICE">
                                                    <span style="width: 150px">{{l("OriginalPrice")}}</span>
                                                </th>
                                                <!-- Đơn vị nhập -->
                                                <th sortField="brancH_CREATE_NAME">
                                                    <span style="width: 150px">{{l("BranchCreateName")}}</span>
                                                </th>
                                                <!-- Giá trị còn lại -->
                                                <th sortField="asremaiN_AMT">
                                                    <span style="width: 150px">{{l("RemainValue")}}</span>
                                                </th>
                                                <!-- Ngày nhập -->
                                                <th sortField="creatE_DT_ASS">
                                                    <span style="width: 150px">{{l("InputDate")}}</span>
                                                </th>
                                                <!-- Tên đơn vị -->
                                                <th sortField="brancH_NAME">
                                                    <span style="width: 200px">{{l("BranchName")}}</span>
                                                </th>
                                                <!-- Tên phòng ban -->
                                                <th sortField="deP_NAME">
                                                    <span style="width: 200px">{{l("DepartmentName")}}</span>
                                                </th>
                                                <!-- Địa điểm -->
                                                <th class="required" sortField="diV_NAME">
                                                    <span style="width: 200px">{{l("Division")}}</span>
                                                </th>
                                                <!-- Tên người dùng -->
                                                <th sortField="emP_NAME">
                                                    <span style="width: 200px">{{l("NameOfUser")}}</span>
                                                </th>
                                                <!-- Ghi chú -->
                                                <th sortField="notes">
                                                    <span style="width: 300px">{{l("Notes")}}</span>
                                                </th>
                                                <!-- End Table Column -->

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of editTableAssUseMultiDt.dataInPage; let in = index"
                                                class="selectable {{item['editableIsSelected']? 'selected' : ''}}"
                                                [hidden]="item['page'] != editTableAssUseMultiDt.currentPage"
                                                (click)="editTableAssUseMultiDt.selectRow($event,item); updateView();">
                                                <!-- Checkbox -->
                                                <td>
                                                    <span class="mo-header" style="width: 40px"></span>
                                                    <checkbox-control [disabled]="disableInput"
                                                        name="{{editTableAssUseMultiDt.name('isChecked',in)}}"
                                                        [(ngModel)]="editTableAssUseMultiDt.dataInPage[in]['isChecked']">
                                                    </checkbox-control>
                                                </td>
                                                <!-- STT -->
                                                <td class="center"><span class="mo-header" style="width: 40px"></span>
                                                    <input class="label"
                                                        [(ngModel)]="editTableAssUseMultiDt.dataInPage[in]['no']"
                                                        name="{{editTableAssUseMultiDt.name('no',in)}}"></td>

                                                <!--Mã tài sản-->
                                                <td>
                                                    <span class="mo-header"></span>
                                                    <input readonly class="label"
                                                        [(ngModel)]="editTableAssUseMultiDt.dataInPage[in].asseT_CODE"
                                                        name="{{editTableAssUseMultiDt.name('asseT_CODE',in)}}" />
                                                </td>

                                                <!--Tên tài sản-->
                                                <td>
                                                    <span class="mo-header"></span>
                                                    <input readonly class="label"
                                                        [(ngModel)]="editTableAssUseMultiDt.dataInPage[in].asseT_NAME"
                                                        name="{{editTableAssUseMultiDt.name('asseT_NAME',in)}}" />
                                                </td>

                                                <!--Số seri -->
                                                <td>
                                                    <span class="mo-header"></span>
                                                    <input readonly class="label"
                                                        [(ngModel)]="editTableAssUseMultiDt.dataInPage[in].asseT_SERIAL_NO"
                                                        name="{{editTableAssUseMultiDt.name('asseT_SERIAL_NO',in)}}" />
                                                </td>

                                                <!--Nguyên giá -->
                                                <td>
                                                    <span class="mo-header"></span>
                                                    <money-input readonly [inputCss]="'label'"
                                                        name="{{editTableAssUseMultiDt.name('buY_PRICE',in)}}"
                                                        [(ngModel)]="editTableAssUseMultiDt.dataInPage[in].buY_PRICE">
                                                    </money-input>
                                                </td>

                                                <!--Đơn vị nhập -->
                                                <td>
                                                    <span class="mo-header"></span>
                                                    <input readonly class="label"
                                                        [(ngModel)]="editTableAssUseMultiDt.dataInPage[in].brancH_CREATE_NAME"
                                                        name="{{editTableAssUseMultiDt.name('brancH_CREATE_NAME',in)}}" />
                                                </td>

                                                <!--Gía trị còn lại -->
                                                <td>
                                                    <span class="mo-header"></span>
                                                    <money-input [inputCss]="'decimal label'"
                                                        name="{{editTableAssUseMultiDt.name('asremaiN_AMT',in)}}"
                                                        [(ngModel)]="editTableAssUseMultiDt.dataInPage[in].asremaiN_AMT"
                                                        readonly>
                                                    </money-input>
                                                </td>

                                                <!-- Ngày nhập -->
                                                <td>
                                                    <span class="mo-header"></span>
                                                    <date-control [inpCss]="'form-control'" type="text"
                                                        [disabled]="true"
                                                        name="{{editTableAssUseMultiDt.name('creatE_DT_ASS',in)}}"
                                                        [(ngModel)]="editTableAssUseMultiDt.dataInPage[in].creatE_DT_ASS">
                                                    </date-control>
                                                </td>

                                                <!--Tên đơn vị -->
                                                <td>
                                                    <span class="mo-header"></span>
                                                    <div class="user-group">
                                                        <input class="form-control transparent m-input"
                                                            name="{{editTableAssUseMultiDt.name('brancH_NAME',in)}}"
                                                            [(ngModel)]="editTableAssUseMultiDt.dataInPage[in].brancH_NAME"
                                                            readonly />
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-primary ng-star-inserted"
                                                                [disabled]="disableInput"
                                                                name="btn-brancH_NAME-d1-{{in}}"
                                                                (click)="branchModal.show()"
                                                                type='button'>{{l("...")}}</button></span>
                                                    </div>
                                                </td>
                                                <!--Tên phòng ban -->
                                                <td>
                                                    <span class="mo-header"></span>
                                                    <div class="user-group">
                                                        <input class="form-control"
                                                            name="{{editTableAssUseMultiDt.name('deP_NAME',in)}}"
                                                            [(ngModel)]="editTableAssUseMultiDt.dataInPage[in].deP_NAME"
                                                            readonly />
                                                        <button class="btn btn-primary ng-star-inserted"
                                                            *ngIf="isShowSelectDepartment(item.brancH_TYPE)"
                                                            [disabled]="disableInput" name="btn-deP_NAME-d1-{{in}}"
                                                            (click)="depModal.show()"
                                                            type='button'>{{l("...")}}</button>
                                                    </div>
                                                </td>
                                                <!--Địa điểm -->
                                                <td>
                                                    <span class="mo-header"></span>
                                                    <div class="user-group">
                                                        <input class="form-control transparent"
                                                            name="{{editTableAssUseMultiDt.name('diV_NAME',in)}}"
                                                            [(ngModel)]="editTableAssUseMultiDt.dataInPage[in].diV_NAME"
                                                            readonly />
                                                        <button class="btn btn-primary ng-star-inserted"
                                                            [disabled]="disableInput" name="btn-diV_NAME-d1-{{in}}"
                                                            (click)="openDivisionModal(editTableAssUseMultiDt.dataInPage[in].brancH_ID)"
                                                            type='button'>{{l("...")}}</button>
                                                    </div>
                                                </td>
                                                <!--Tên người dùng -->
                                                <td>
                                                    <span class="mo-header"></span>
                                                    <div class="user-group">
                                                        <input class="form-control"
                                                            name="{{editTableAssUseMultiDt.name('emP_NAME',in)}}"
                                                            [(ngModel)]="editTableAssUseMultiDt.dataInPage[in].emP_NAME"
                                                            readonly />
                                                        <button class="btn btn-primary ng-star-inserted"
                                                            [disabled]="disableInput" name="btn-emP_NAME-d1-{{in}}"
                                                            (click)="empModal.show()"
                                                            type='button'>{{l("...")}}</button>
                                                    </div>
                                                </td>
                                                <!--Ghi chú -->
                                                <td style="width:20%">
                                                    <span class="mo-header"></span>
                                                    <textarea class="form-control required"
                                                        name="{{editTableAssUseMultiDt.name('notes',in)}}"
                                                        [(ngModel)]="editTableAssUseMultiDt.dataInPage[in].notes"
                                                        [disabled]="disableInput"></textarea>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </editable-table>
                                </form>
                            </div>
                        </div>
                        <!--END DETAIL 1-->
                    </div>
                </form>
                <!-- End Form -->
            </div>
        </div>
    </div>
</div>


<asset-modal #assetModal [multiple]="true" [disableFields]="'asseT_TYPE,amorT_STATUS'"
    [hideFields]="'PlanDepartment,level,PlanMonthFilter,PlanLiqFilter,dep_ID,brancH_ID'"
    [hideColumns]="'BRANCH_NAME,DEP_NAME,USE_DATE'" (onSelect)="onSelectAssets($event)"></asset-modal>
<branch-modal #branchModal [multiple]="false" (onSelect)="onSelectBranch($event)"></branch-modal>
<dep-modal #depModal [multiple]="false" (onSelect)="onSelectDepartment($event)"></dep-modal>
<division-modal #divisionModal [multiple]="false" (onSelect)="onSelectDivision($event)"></division-modal>
<employee-modal [disableFields]="'brancH_ID'" #empModal [multiple]="false" (onSelect)="onSelectEmployee($event)">
</employee-modal>