<div [@routerTransition]>
    <appToolbar #appToolbar></appToolbar>
    <div class="m-subheader">
        <div class="row align-items-center">
            <div class="mr-auto col-auto">
                <!-- Begin Title -->
                <a [routerLink]="rootPage()" class="m-subheader__title m-subheader__title--separator link-to-list-page home-page">
                    <span>{{l("HomePage")}}</span>
                </a>
                <h3 (click)="goBack()" class="m-subheader__title m-subheader__title--separator link-to-list-page">

                    <span>{{l("List")}} {{l("AssType") | lowercase}}</span>
                </h3>
                <span [ngSwitch]="editPageState" class="m-section__sub">
                        <span *ngSwitchCase="EditPageState.add">{{l("Toolbar_Create")}}</span>
                <span *ngSwitchCase="EditPageState.edit">{{l("Toolbar_Update")}}</span>
                <span *ngSwitchCase="EditPageState.viewDetail">{{l("Toolbar_ViewDetail")}}</span>
                </span>
                <!-- End Title -->
            </div>
            <div class="col text-right mt-3 mt-md-0">
            </div>
        </div>
    </div>

    <div id="content" class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <!-- Begin Form -->
                <form #editForm="ngForm" id="editForm" novalidate (ngSubmit)="saveInput()" autocomplete="off">
                    <div class="modal-body row">
                        <div class="col-md-12 align-right">
                            <div class="form-group">
                                <auth-status-input-page [authStatus]="inputModel.autH_STATUS"></auth-status-input-page>
                            </div>
                        </div>
                        <!-- Mã loại tài sản -->
                        <div class="col-md-3">
                            <div class="form-group required">
                                <label>{{l("TypeCode")}}</label>
                                <input class="form-control" maxlength="15" required type="text" #typE_CODE="ngModel" [disabled]="disableInput" pattern="{{s('gAMSProCore.CodeNumberRegexValidation')}}" name="typE_CODE" [(ngModel)]="inputModel.typE_CODE">
                                <div class="error-message" *ngIf="typE_CODE.invalid && isShowError">
                                    <span *ngIf="typE_CODE?.errors.required">{{l('TypeCode')}}
                                        {{l("ValidationRequired")}}</span>
                                    <span *ngIf="typE_CODE?.errors.pattern">{{l('TypeCode')}}
                                            {{l("Invalidation")}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12"></div>
                        <!-- Loại tài sản -->
                        <div class="col-md-3">
                            <div class="form-group required">
                                <label>{{l("TypeName")}}</label>
                                <input required maxlength="200" class="form-control" type="text" #typE_NAME="ngModel" [disabled]="disableInput" name="typE_NAME" [(ngModel)]="inputModel.typE_NAME">
                                <div class="error-message" *ngIf="typE_NAME.invalid && isShowError">
                                    <span *ngIf="typE_NAME?.errors.required">{{l('TypeName')}}
                                        {{l("ValidationRequired")}}</span>
                                    <span *ngIf="typE_NAME?.errors.pattern">{{l('TypeName')}}
                                        {{l("Invalidation")}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12"></div>
                        <!-- Hoạt động -->
                        <div class="col-md-3">
                            <div class="form-group outter-vertical-center">
                                <div class="form-group inner-vertical-center">
                                    <label class="m-checkbox" for="recorD_STATUS">{{l("IsActive")}}
                                        <input type="checkbox" id="recorD_STATUS" #recorD_STATUS name="recorD_STATUS" [disabled]="disableInput"
                                        [checked]="inputModel.recorD_STATUS == '1'"(change)="inputModel.recorD_STATUS = recorD_STATUS.checked? '1' : '0'">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12"></div>
                        <!-- Ghi chú -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{l("Note")}}</label>
                                <textarea class="form-control" [disabled]="disableInput" type="text" #notes="ngModel" name="notes" [(ngModel)]="inputModel.notes"></textarea>
                            </div>
                        </div>

                    </div>
                </form>
                <!-- Begin Form -->
            </div>
        </div>
    </div>
</div>